header {
  display: flex;
  flex-direction: row;
}
 
@keyframes animation-one {
  0% { transform: rotate(10deg); }
  10% { transform: rotate(10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(10deg); }
  40% { transform: rotate(10deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(10deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(10deg); }
  100% { transform: rotate(10deg); }
}

#config-bar {
  background: #000;
  width: 100px;
}
