header {
  display: flex;
  flex-direction: row;
}
 
@keyframes animation-one {
  0% { transform: rotate(10deg); }
  10% { transform: rotate(20deg); }
  20% { transform: rotate(30deg); }
  30% { transform: rotate(40deg); }
  40% { transform: rotate(50deg); }
  50% { transform: rotate(60deg); }
  60% { transform: rotate(70deg); }
  80% { transform: rotate(80deg); }
  90% { transform: rotate(90deg); }
  100% { transform: rotate(100deg); }
}

#config-bar {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #fff;
  text-align: center;
}

#config-bar > .space {
  width: 10px;
}

#middle-space {
  display: flex;
  flex-direction: row;
}
